<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
body {
    font-family: 'Montserrat', sans-serif;
    background: #42f48f;
}
.main {
    width: 60%;
    border: 3px solid white;
    background: #41f4df;
    color: #4188f4;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 100px;
}
</style>
<body>
<div class="main">
<div style="font-size:100px;font-weight:600">403</div>
<div style="font-size:40px">Non disponi dei privilegi necessari ad accedere a questa pagina!</div>
</div>
</body>

