{% extends 'base.html.twig' %}

{% block body %}
<main>
<div class="page-container">

<div class="page-side-menu" id="menu">

<div class="sidebar-menu-item"><div class="side-indicator"></div>MENU ITEM <span>+</span> </div>
<div class="sidebar-menu-item"><div class="side-indicator"></div>MENU ITEM</div>
<div class="sidebar-menu-item highlighted"><div class="side-indicator"></div>MENU ITEM <span>-</span> </div>
<div class="sidebar-menu-sub-container">
    <div class="sidebar-menu-item sub"><div class="side-indicator"></div>MENU ITEM</div>
    <div class="sidebar-menu-item sub"><div class="side-indicator"></div>MENU ITEM</div>
    <div class="sidebar-menu-item sub"><div class="side-indicator"></div>MENU ITEM</div>
    <div class="sidebar-menu-item sub"><div class="side-indicator"></div>MENU ITEM</div>
</div>
<div class="sidebar-menu-item"><div class="side-indicator"></div>MENU ITEM</div>
<div class="sidebar-menu-item"><div class="side-indicator"></div>MENU ITEM <span>+</span> </div>
<div class="sidebar-menu-item"><div class="side-indicator"></div>MENU ITEM</div>
<div class="sidebar-menu-item"><div class="side-indicator"></div>MENU ITEM</div>

</div>

<div class="page-body">
    <span class="page-location-span">LOCATION \> LOCATION</span>
    <h1>HEADER</h1>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni
    am, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laboru
    m.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni
    am, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laboru
  m.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni
  am, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
   cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laboru
   m.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p><div></div><p>
   eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni
   am, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laboru
    m.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni
    am, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
     cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laboru
     m.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni
     am, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laboru
      m.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni
      am, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
       cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laboru
       m.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni
       am, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laboru
        m.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni
        am, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
         cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laboru
         m."
    </p>
    <h2>SUB HEADER ONE</h2>
    <p> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni
   am, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum </p>
    </div>
</div>
</main>
{% endblock %}

{% block stylesheets %}
<style>
.page-container {
    padding-top: 2em;
    position: relative;
    z-index: 0;
    width: 1160px;
    display: block;
    margin-bottom: 4em;
    margin-right: auto;
    margin-left: auto;
    /*background: #B993D6;  /* fallback for old browsers *
    background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 *
    background: linear-gradient(to right, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    overflow: hidden;  
}

.page-side-menu {
    display: inline-block;
    width: 260px;
    /* height: 400px; /* REMOVED TO CONTAIN REAL MENU SIZE */
    /*background: #000000;  /* fallback for old browsers *
    background: -webkit-linear-gradient(to right, #e74c3c, #000000);  /* Chrome 10-25, Safari 5.1-6 *
    background: linear-gradient(to right, #e74c3c, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float: left;
    position: absolute;
    top: 2em;
    left: 0px;
}

.page-side-menu.sticky {
    position: fixed;
    top: 77px;
    left: 380px;
}

.sidebar-menu-item {
    position: relative; /* To accomodate the side indicator positioned absolutely */
    width: calc(100% - 5px);
    height: 2em;
    line-height: 2em;
    padding-left: 1em; /* MINIMUM TO ACCOMODATE SIDE INDICATOR */ 
    /*background: #f4c4f3;  /* fallback for old browsers *
    background: -webkit-linear-gradient(to bottom right, #fc67fa, #f4c4f3);  /* Chrome 10-25, Safari 5.1-6 *
    background: linear-gradient(to bottom right, #fc67fa, #f4c4f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: lightgrey;
    color: var(--cb-color);
    border-bottom: 1px solid whitesmoke;
    font-family: 'IBM Plex Sans', 'Open Sans'; 
}

.sidebar-menu-item:hover {
    background: var(--cb-color);
    color: white;
}

.side-indicator {
    position: absolute;
    width: 5px;
    height: 100%;
    left:0;
    top:-1px; /* To accomodate the border width of 1px */
    /*background: #fffc00;  /* fallback for old browsers *
    background: -webkit-linear-gradient(to right, #ffffff, #fffc00);  /* Chrome 10-25, Safari 5.1-6 *
    background: linear-gradient(to right, #ffffff, #fffc00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #ccc;
    border: 1px solid white;
}

.highlighted {
    background: var(--cb-color);
    color: white;
}

.highlighted > .side-indicator {
    background: var(--cb-color);
}

.sidebar-menu-sub-container {
    position: relative;
    width: 100%;
    padding-left: 5px; /* MINIMUM TO ACCOMODATE SIDE INDICATOR */
    /*background: #3494E6;  /* fallback for old browsers *
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 *
    background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sidebar-menu-item.sub {
    padding-left: 20px;
    width: calc(100% + 6px - 20px);
    /*background: #f4c4f3;  /* fallback for old browsers *
    background: -webkit-linear-gradient(to bottom left, #fc67fa, #f4c4f3);  /* Chrome 10-25, Safari 5.1-6 *
    background: linear-gradient(to bottom left, #fc67fa, #f4c4f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Oper 12+, Safari 7+ */
    font-family: 'IBM Plex Sans', 'Open Sans'; 

}

.sidebar-menu-item > span {
    float: right;
    margin-right: 20px;
    font-family: 'IBM Plex Sans', 'Open Sans'; 
}


.page-body {
    float: right;
    width: 70%;
    /*background: #780206;  /* fallback for old browsers *
    background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 *
    background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.page-location-span {
    display: block;
    /*background: #FDFC47;  /* fallback for old browsers *
    background: -webkit-linear-gradient(to right, #24FE41, #FDFC47);  /* Chrome 10-25, Safari 5.1-6 *
    background: linear-gradient(to right, #24FE41, #FDFC47); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'IBM Plex Sans', 'Open Sans'; 
}

.page-body > h1 {
    display: block;
    /*background: #D38312;  /* fallback for old browsers *
    background: -webkit-linear-gradient(to right, #A83279, #D38312);  /* Chrome 10-25, Safari 5.1-6 *
    background: linear-gradient(to right, #A83279, #D38312); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 700;   
}

.page-body > h2 {
    display: block;
    /*background: #D38312;  /* fallback for old browsers *
    background: -webkit-linear-gradient(to right, #A83279, #D38312);  /* Chrome 10-25, Safari 5.1-6 *
    background: linear-gradient(to right, #A83279, #D38312); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 25px; /* RANDOM VALUE. TO BE UPDATED */    
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 700; 
}

.page-body > p {
    /*background: #FEAC5E;  /* fallback for old browsers *
    background: -webkit-linear-gradient(to top right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 *
    background: linear-gradient(to top right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-bottom: 0; /* TO BE UPDATED WHEN DIVS IN P ARE SUBSITTUTED WITH IMG */
    margin-top: 0; /* TO BE UPDATED WHEN DIVS IN P ARE SUBSITTUTED WITH IMG */
    font-size: 16px;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
    line-height: 1.2em;
}

.page-body > p:last-child {
    margin-bottom: 1em; /* TO BE UPDATED WHEN DIVS IN P ARE SUBSITTUTED WITH IMG */
}

.page-body > div {
    width: 200px;
    height: 200px;
    background: #136a8a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float: right;
}
</style>

<script>

window.onload = function() {
    var d = document.getElementById("menu");
    console.log(d);
    var rect = d.getBoundingClientRect();
    console.log(rect.top + " " + (rect.left - rect.width)); 
}

</script>

{% endblock %}