#header-content-wrap {
    background: #003299;
    width: 1280px;
    height: 200px;
    margin: 1em auto 0 auto;
}

#header-wrap {
    height: 155px;
    width: 100%;
    background: #ffffff;
    position: relative;
}

#navbarMain-wrap {
    width: 100%;
    height: 45px;
    background: red;
}

#h-logo-wrap {
    max-height: 135px;
    overflow: hidden;
    min-width: 0;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 2em;
}

#h-info-wrap {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    background: #bbb;
}